.main {

    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
   border-radius:40px;
}

.ingredientsContainer {
    display: grid;
    align-items: center;
    gap: 8px;
    grid-template-columns: max-content auto;
    
}

.dragging {
    border-style:dotted;
    border-color: #1df0ff;
    box-shadow: 0px 0px 14px #12c2c4;
}