.constructor {
    padding-top: 100px;
    padding-left: 16px;
    height: 100%;
    width: 100%;
    display: grid;
}

.buns {
    display: flex;
    justify-content: flex-start;
    padding-left: 32px;
    cursor: pointer;
}

.main {

    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.order {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
    margin-top: 40px;
    gap: 40px;
}


.price {
    display: flex;
    gap: 10px;
}


.icon>svg {
    width: 33px;
    height: 33px;
}

.wrapper {
    display: grid;
    gap: 16px;
    max-height: 464px;
    overflow-y: scroll;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-right: 8px;
}

.wrapper::-webkit-scrollbar {
    background: #2F2F37;
    width: 8px;
}

.wrapper::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #8585AD;


}