.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.close {
    position: absolute;
    right: 40px;
    top: 60px;
    width: 24px;
    height: 24px;
    cursor: pointer;


}

.gif>svg {

    width: 120px;
    height: 120px;

    margin: 60px 0;

}

.error {
    display: flex;
    justify-content: center;
    font-size: 36px;
    padding: 100px;
}