.card {
    position: relative;
    gap: 4px;
    display: grid;
    grid-template-rows: 120px 24px 48px;
    align-items: start;
    text-align: center;
    justify-content: center;
    cursor:pointer;

}

.dragging {
   box-shadow: 1px 1px 1px 2px aliceblue;
  
}

.cardBody {
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: center;
}



.previewImage:hover{
  
    transform: scale(1.2);
    
}

.previewImage {
    cursor: grab;
    transition: transform 200ms ease-in
}