.card {
    position: relative;
    gap: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.cardBody {
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.container {


    display: grid;
    grid-template-columns: 272px 272px;
    width: 100%;
    height: calc(100vh - 40px);
    overflow-y: auto;
    scrollbar-color: #6969dd;
    gap: 24px;
}

.container::-webkit-scrollbar {
    background: #2F2F37;
    width: 8px;

}

.container::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #8585AD;

}