.card {
    position: relative;


    gap: 4px;
    align-items: center;
    justify-content: flex-start;
}

.cardBody {
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: flex-start;
}

.container {


    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 40px);
    overflow-y: auto;
    scrollbar-color: #6969dd;
}

.container::-webkit-scrollbar {
    background: #2F2F37;


}

.container::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #8585AD;

}